.container_home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    .movies_card_home{
        margin-top: 1rem;
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
          
        .foto_home{
            margin-top: .5rem;
            position: relative;   
            border-radius: 5px;
           
            button{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: brown;
                border-radius: 0 0 5px 5px;         

                font-size:15px;
                color:#FFF;

            }
        }
    }
}