.NotFound_container{
    background-color:#ddd;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    .NotFound_text{
        display: inherit;
        height: 174px;
        flex-direction: column;
        align-items: center;
        
        h2{
            font-weight: bold;
        
        }
        h5{
            margin-top:20%;
            font-weight: 500;
            font-size: 15px;
        }
        p{
            font-weight: 500;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    .NotFound_container{
        justify-content: space-evenly;
        flex-direction:column;
    }
    .NotFound_text{
        display: inherit;
        height: 174px;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        
        h2{
            font-weight: bold;
        
        }
        h5{
            margin-top:10% !important;
            font-weight: 500;
            font-size: 15px;
        }
        p{
            font-weight: 500;
            font-size: 15px;
        }
    }
}